@font-face {
  font-family: "Atyp Bold";
  src: url(font/AtypTextTRIAL-Bold-BF65727125ceed1.ttf);
}
@font-face {
  font-family: "Poppins Bold";
  src: url(font/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Circular Black";
  src: url(font/circular-std-2.ttf);
}
@font-face {
  font-family: "Arial Narrow";
  src: url(font/arialnarrow.ttf);
}

body {
  -moz-user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#playlist-name {
  text-align: center;
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 4px;
  padding-bottom: 17px;
  letter-spacing: px;
  font-family: "Circular Black";
}
#brat-name {
  font-family: "Arial Narrow";
  font-size: 40px;
  filter: blur(1px);
  font-stretch: expanded;
}
#cropped-image {
  margin-top: 8px;
}
.color {
  width: 61.8px;
  height: 25px;
  margin-right: -6px;
  margin-top: -2px;
  border: 0;
  border-radius: 0;
  background: red;
}
.color:hover {
  opacity: 0.5;
}

[role="tablist"] {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

[aria-selected="true"] {
  text-decoration-thickness: 0.25em;
  text-underline-offset: 0.5em;
  color: orangered;
}

/* extra styling to make the tabs look better that wasn't in the video */
.tabs-container {
  padding: 2.5rem;
  border-radius: 0.5rem;
  background: hsl(0 0% 50% / 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  width: min(500px);
  margin-inline: auto;
}

.site-title {
  font-size: var(--fs-900);
  line-height: 1.05;
  text-transform: uppercase;
}

.section-title {
  font-size: var(--fs-800);
  line-height: 1.1;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    display: none;
  }
}
#tab-1 {
  text-decoration: none;
}
#tab-2 {
  text-decoration: none;
}
body {
  font-family: "Poppins Bold";
}
#input-text, #input-brat,
#crop-button, #download-button, #download-brat-button {
  font-family: "Poppins Bold";
}
